{% extends "base.html" %}

{% block content %}
    <br>
    <img src = "https://photos-5.dropbox.com/t/2/AADAfEzVxRYjfksbyFI4MTyPpqH_weAtDDYZIeG-W9NhcA/12/485243049/png/32x32/1/_/1/2/Post.png/ENrA3fcDGHMgBygH/2iNJCeUqZyuxYhbkxGVjoNgIBExdVCiljHdUV4uZCOE?preserve_transparency=1&size=2048x1536&size_mode=3" width = "273.1428px" height = "100px">
    <br><br><br>
    <hr />
    <div class = "p_title"><h1>{{btitle}}</h1></div>
    <div class = "p_entry"> {{entry}} </div>
    <br><br><br>
    <p class="pub-date">Posted on: {{pub_date }}</p>

{% endblock %}
