{% extends "base.html" %}

{% block content %}
    <h1><img src = "https://photos-1.dropbox.com/t/2/AABjvsFjQY6Tlrv3mcqKZ1GosmBc6k6JZdyZZmlrbLpehg/12/485243049/png/32x32/1/_/1/2/Blog..png/ENrA3fcDGHEgBygH/K_6kHPpJNC3iSJdr4LydaXOOWWvOfPbnYj4ry1Tdhds?preserve_transparency=1&size=2048x1536&size_mode=3" width = '273.1428px' height = '100px'></h1>

    <br><br><br>
    

          {% for post in posts %}
          <div class="post">

            <a href="/blog?id={{post.id}}">{{ post.title }}</a>
            <p class="body-text">{{ post.body }}</p>
            <p class="pub-date">Posted on: {{ post.pub_date }}</p>
            <p class="user">Posted by: <a href="/blog?userid={{post.owner_id}}">{{ post.owner.username }}</a></p>

          </div>
          <br><br><br><br>
          {% endfor %}

    
    
{% endblock %}